/*geral */

body{
    font-family: helvetica, arial,sans-serif;
    color: #4d4d4d;
    margin: 0;
}

h1,h2,h3{
    margin: 0;
    font-family: helvetica, arial,sans-serif;
    
}

.botao {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #045fb0;
    font-size: .9em;
    border-radius: 3px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4d4d;
}

nav > a {
   text-decoration: none;
   color: #f1f1f1;
   font-weight: bold;
   font-size: 28px;
 font-family: Pacifico, serif;
}

nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
    padding: 1%;
}

nav ul li a{
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}

nav ul :hover {
    background-color: #a4a4a4;
}

header {

    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header p {
    margin-bottom: 2em;
}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: #045fb4;
    color: #f1f1f1;
}

#sobre .botao{
    
    background-color: #f1f1f1;
    color: #4d4d4d;
}
#sobre p{
margin-bottom: 2.5em;
max-width: 1000px;
   
}
#servicos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos div {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#portifolio{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 20px;
}

#portifolio h2 {
    margin-bottom: 20px;
}

#portifolio img {
    width: 100% ;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #4d4d4d;
    color: #f1f1f1;
}

@media screen and (min-width: 768px) {
    nav{
        flex-direction: row;
        justify-content: space-around ;
        

    }
    nav ul{
        flex-direction: row;
        width: 70%;
    }
    header {
        height: 60vh;
        justify-content: space-around;
        
    }
    #sobre{
        height: 250px;
        height: 30vh;
        justify-content: space-around;
        
        min-height: 250px;


    }
    #servicos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #servicos h2 {
        text-align: center;
        width: 100%;
    }
    #servicos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    #portifolio {
        flex-direction: row;
        flex-wrap: wrap;

    }

    #portifolio h2 {
        width: 100%;
        text-align: center;
        
    }
    #portifolio img {
        width: 33%;

    }
    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 500%;
        margin: 0 auto;
    }
    #contato h2 ,
    #contato p{
        width: 100%;
    }
}